################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Session Solution/LINQ_PracticeSession/LINQ_PracticeSession/.vs/LINQ_PracticeSession/FileContentIndex/64fb1fcb-9ef2-4a0c-9506-9f04bd8c978b.vsidx
/Session Solution/LINQ_PracticeSession/LINQ_PracticeSession/.vs/LINQ_PracticeSession/FileContentIndex
/Session Solution/EntityFramework/.vs/EntityFramework/FileContentIndex/1ed10c29-e980-4cb9-98e5-2954b9467fc5.vsidx
/Session Solution/EntityFramework/.vs/EntityFramework/FileContentIndex/36d9275d-3fbc-47b6-896c-283489dfee01.vsidx
/Session Solution/EntityFramework/.vs/EntityFramework/FileContentIndex/7b003cf4-bb76-4a90-ad99-fe4ae07249ee.vsidx
/Session Solution/EntityFramework/.vs/EntityFramework/FileContentIndex/adbd8963-aca4-42c4-a0f9-fd2d538497cb.vsidx
/Session Solution/EntityFramework/.vs/EntityFramework/FileContentIndex/cac09aa3-d404-4505-a447-40a3994c0051.vsidx
