################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Session Solution/LINQ_PracticeSession/LINQ_PracticeSession/.vs/LINQ_PracticeSession/FileContentIndex/64fb1fcb-9ef2-4a0c-9506-9f04bd8c978b.vsidx
/Session Solution/LINQ_PracticeSession/LINQ_PracticeSession/.vs/LINQ_PracticeSession/FileContentIndex
